@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans Khmer', sans-serif;
}
@theme {
  /* បង្កើត Font Family ថ្មីសម្រាប់ប្រើក្នុង Tailwind */
  --font-khmer: "Siemreab", "Khmer OS Siemreab", sans-serif;
}

:root {
  /* កំណត់ឱ្យប្រើ Font ខ្មែរលើទំព័រទាំងមូល */
  font-family: var(--font-khmer);
}

/* បង្ខំឱ្យ Button និង Input ប្រើ Font នេះដែរ */
button, input, select, textarea {
  font-family: var(--font-khmer);
}